[submodule "ext/command-line-parser"]
	path = ext/command-line-parser
	url = https://github.com/dylan-lang/command-line-parser.git
[submodule "ext/sphinx-extensions"]
	path = ext/sphinx-extensions
	url = https://github.com/dylan-lang/sphinx-extensions
